# This file is managed by Juju; ANY CHANGES WILL BE OVERWRITTEN
#--------------------------------------------------------------

[Unit]
Description=Front-end to Ubuntu Store Payments

[Service]
Type=simple
{% if env_file %}
EnvironmentFile={{ env_file }}
{% endif %}
WorkingDirectory={{ working_dir }}
User={{ user }}
ExecStart=/usr/bin/npm run start-build -- --env=environments/{{ environment }}.env
Restart=on-failure
RestartSec=15 5

[Install]
WantedBy=multi-user.target
